/* main style */
h1 {
	font-size: 50px;
}
h2 {
	font-size: 44px;
}
h3 {
	font-size: 38px;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 22px;
}
body, .text {
	font-size: 14px;
	line-height: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.header .menu ul li a, .footer .menu ul li a, .button, .post .date {
	font-size: 16px;
}
.post .author, .tags-list .tags-list-item {
	font-size: 18px;
}
.post .text {
    font-size: 22px;
    line-height: 36px;
}

.page-home h1, .header .menu ul li a {
	font-weight: 700;
}

.page-404 .box-text, .professional, .footer .menu ul li a, .social-list .social-list-item, .header .hide-mobile .menu ul li, .slider .slider-item .title, .post, .tags, .related-posts, .main-title, .contact, .page-contact .title {
	text-align: center;
}
.hide-mobile .menu ul {
	text-align: right;
}

.page-home h1, .footer .title {
	text-transform: uppercase;
}

#searchform #searchsubmit, .footer-menu li a, .button, .tags-list .tags-list-item {
	font-weight: bold;
}
.post .title {
	font-weight: 700;
}

.list.social .list-item, .social-list .social-list-item {
    width: 30px;
}
.slider .slider-item .title {
	width: 90%;
}
.widget_search {
	width: 100%;
}
img {
	max-width: 100%;
}
.container, .header .navbar, .footer .navbar {
	max-width: 1000px;
}

input {
	height: 40px;
}
.searchform input, #searchform #s {
	border: 1px solid #767676;
}
.header .hide-mobile .menu ul li {
	border-left: 1px solid #0000001a;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#searchform input {
	float: left;
}

.footer .logo, .slider .slider-item {
	position: relative;
}

.professsional .image, .page-container, .text, .main-title {
    display: block;
}
.header .hide-mobile .menu ul li, .widget, .list.social .list-item, .social-list .social-list-item, .tags-list .tags-list-item {
	display: inline-block;
	vertical-align: top;
}
#searchform .screen-reader-text, .post-categories {
	display: none;
}

.page-home .text, .hide-desk .navbar-toggler {
	color: #404040;
} 
.professional .role {
	color: #8d93a0;;
}
a, a:hover {
	color: #1a1a1b;
}
#searchform #searchsubmit, .slider .slider-item .title, .slider .slider-item .button, .hide-desk .navbar-toggler.collapsed, .footer .menu ul li a, #searchform #s, .footer .social-list-item a {
	color: #FFFFFF;
}

.hide-desk .navbar-toggler {
	border-color: #404040;
}
.hide-desk .navbar-toggler.collapsed {
	border-color: #FFFFFF;
}

.footer {
	background-color: #000000;
}

.page-home .slider .slider-item {
	min-height: 500px;
}

/* mixed styles */
.tags-list .tags-list-item {
    padding: 10px 20px 10px 20px;
    background: #f7f7f7;
    margin-right: 5px;
}
.menu ul, .widget ul {
	margin-bottom: 0;
	padding-left: 0;
}
.section, .header .navbar, .footer .navbar, .image {
	margin: 0 auto;
	display: block;
}
h1.title, .widget, .widget .widget-title, .post, .page-archive .box-image.bg, .page-single .box-image.bg, .page-home .intro .box-image.bg, .widget li, .tags-list {
	margin-bottom: 20px;
}
.main-title {
	margin-bottom: 30px;
}
.posts .post .image, .posts .post .resume, .post .text, .tags-list {
	margin-top: 20px;
}
.post .image, .post .resume, .post .date {
	margin-bottom: 10px;
	line-height: 25px;
}
.page-container {
	margin-left: 1px;
}
.container, .widget {
	padding: 20px;
}
.main {
	padding-top: 30px;
	padding-bottom: 50px;
}
.menu ul li {
	padding: 8px 10px 8px 10px;
}
.button {
	padding: 20px 40px 20px 40px;
    width: 180px;
    letter-spacing: 1px;
}
.slider .slider-item .button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}
.slider .slider-item .button:hover {
	background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
}

#searchform #s {
	background-color: transparent;
	padding: 10px;
	color: #767676;
	width: 65%;
}

.page-home .intro .box-image.bg, .page-archive .box-image.bg, .page-single .box-image.bg {
	min-height: 250px;
}
.logo-mini {
	max-height: 50px;
	margin-top: -5px;
}
.navbar-light .navbar-toggler {
    top: 20px;
    right: 20px;
    z-index: 3;
}
#searchform #searchsubmit {
	background-color: #1a1a1b;
	width: 35%;
	border: none;
}

a:hover, #searchsubmit:hover {
	opacity: 0.8;
}
.page-home h1 {
	letter-spacing: 10px;
}
.professional {
	margin: 20px;
}
.professional .image-box {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.professional .about {
	line-height: 25px;
}
.footer .logo .link, .slider .slider-item .link, .slider .slider-item .title, .navbar-light .navbar-toggler {
	position: absolute;
}
.footer .logo .link {
	top: 50%;
    transform: translateY(-50%);
}
.slider .slider-item .link {
	left: 50%;
	top: 70%;
    transform: translate(-50%, -50%);
}
.slider .slider-item .title {
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}

/* media query */
@media(max-width: 1024px) {
	.hide-mobile {
		display: none !important;
	}
	.hide-desk {
		padding: 0;
	}
	.hide-desk .menu .menu {
		text-align: center;
		padding: 20px;
	}
	.main {
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
	}
	h5, .post .text {
		font-size: 18px;
	}
	.post .text {
	    line-height: 25px;
	}
}
@media(min-width: 1025px) {
	.hide-desk {
		display: none !important;
	}
}