/* main style */
.ctY, .ctX, .ctXY {
	position: absolute; 
}
.ctY {
	top: 50%;
	transform: translateY(-50%);
}
.ctX {
	left: 50%;
	transform: translateX(-50%);
}
.ctXY {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ct-cont {
	display: table;
}
.ct-obg { 
	vertical-align: middle;
	display: table-cell;
}
input {
	height: 40px;
}
.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
@media(max-width: 1024px) {
	.hide-mobile {
		display: none !important;
	}
}
@media(min-width: 1025px) {
	.hide-desk {
		display: none !important;
	}
	.main {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.header .navbar {
		height: 80px;
	}
}
/* style*/
body, .text {
	font-size: 16px;
	line-height: 18px;
}
a, a:hover {
	color: #212529;
}
#searchform #searchsubmit {
	color: #FFFFFF;
}
#searchform #searchsubmit {
	text-transform: uppercase;
	font-weight: bold;
}
.page-404 .box-text {
	text-align: center;
}
.menu ul li {
	padding: 10px 20px 10px 10px;
}
.widget {
	padding: 10px;
}
h1.title, .widget, .widget .widget-title, .post, .page-archive .box-image.bg, .page-single .box-image.bg, .page-home .intro .box-image.bg, .widget li {
	margin-bottom: 20px;
}
#searchform #s {
	background-color: #fdfdfd;
	padding: 10px;
	color: #767676;
	width: 60%;
}
.page-archive .box-image.bg, .page-single .box-image.bg {
	min-height: 150px;
}
.page-home .intro .box-image.bg {
	min-height: 200px;
}
.logo {
	max-height: 50px;
	margin-top: -5px;
}
.navbar-light .navbar-toggler {
	float: right;
    margin-top: 10px;
}
.menu ul, .widget ul {
	margin-bottom: 0;
	padding-left: 0;
}
.section, .header .navbar, .footer .navbar, .image {
	margin: 0 auto;
	display: block;
}
.header .hide-mobile .menu ul li, .widget {
	display: inline-block;
}
#searchform .screen-reader-text {
	display: none;
}
#searchform input {
	float: left;
}
#searchform #searchsubmit {
	background-color: #000000;
	width: 40%;
}
.section, .header .navbar, .footer .navbar {
	padding: 20px;
	max-width: 1000px;
}
.header .hide-mobile .menu ul li {
    border-right: 1px solid #00000073;
}
a:hover, #searchsubmit:hover {
	opacity: 0.9;
}
.date {
	margin: 20px 0 20px 0;
}