html, body {
	line-height: 1rem;
	font-size: 100%;
}
footer, header, main, html, body, input, textarea, .ct-cont, .container, .content  {
	width: 100%;
}
html, body, main, .ct-cont, .container, .content {
	height: 100%;
}
input[type=checkbox], input[type=radio] {
	width: 15px;
	height: 15px;
}
html, body, main {
	margin: 0; 
	padding: 0;
}
main {
	overflow: hidden;
}
label {
	font-weight: normal;
}
b, strong {
	font-weight: bold;
}
ul, ol {
	list-style: none;
}
button, input, textarea, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	box-shadow: none;
}
.nav-tabs, button, input, textarea, button:hover, button:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
	border: none;
}
input, textarea, a:focus, a:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
}
a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}
.container, .content, a, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}
.container, .content {
	margin: auto;
}
.ctY, .ctX, .ctXY {
	position: absolute; 
}
.ctY {
	top: 50%;
	transform: translateY(-50%);
}
.ctX {
	left: 50%;
	transform: translateX(-50%);
}
.ctXY {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ct-cont {
	display: table;
}
.ct-obg { 
	vertical-align: middle;
	display: table-cell;
}
input {
	height: 40px;
}
.bg {
	background-size: cover;
	background-repeat: no-repeat;
}

@media(max-width: 1024px) {
	.hide-mobile {
		display: none;
	}
}
@media(min-width: 1025px) {
	.hide-desk {
		display: none;
	}
}